.mobile {
    display: none;
}
.pc {
    display:grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-areas: 
    "nav main-slide side-box";
    width: 100%;
    height: 160vh;
    min-width: 500px;
    min-height: 800px;
    max-height: 800px;
}

.pc .main-slide {
    grid-area: main-slide;
    width: 100%;
    height: 100%;
}
.pc .main-slide .about-container {
    padding:5% 15% 5% 5%;
    width: 100%;
    height: 100%;
   overflow: hidden;
}
.pc .main-slide .about-container .factory {
    display: block;
}
.pc .main-slide .about-container .factory.active {
    display: none;
}

/* 카테고리 부분 */
.pc .main-slide .about-container .factory .ss-title{
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}
.pc .main-slide .about-container .factory .ss-title span {
    font-size: 0.8rem;
    font-weight: 400;
    display: inline-block;
}
.pc .main-slide .about-container .factory .ss-title span:last-child {
    color: red;
}
/* 타이틀 */
.pc .main-slide .about-container .factory .main-title {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}
.pc .main-slide .about-container .factory .main-title h2 {
    font-size: 2rem;
}
/* 선 */
.pc .main-slide .about-container .factory .line {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 20px;
}
/* 아래 타이틀 */
.pc .main-slide .about-container .factory .s-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
/* 조직도 선택 버튼 */
.pc .main-slide .about-container .factory .catagory {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}
.pc .main-slide .about-container .factory .catagory ul {
    width: 30%;
    display: flex;
    box-sizing: border-box;
}
.pc .main-slide .about-container .factory .catagory ul li {
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    height: 100%;
    border: 1px solid #c9c9c9;
    background-color: #c9c9c9;
    padding: 10px;
    cursor: pointer;
}
.pc .main-slide .about-container .factory .catagory ul li:first-child {
    background-color: red;
}
.pc .main-slide .about-container .factory .catagory ul li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-weight: 700;
    pointer-events: none;
    
}
/* 그림 */
.pc .main-slide .about-container .factory .building {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
}
.pc .main-slide .about-container .factory .building h5 {
    position: absolute;
    right: 20px;
    top:-20px;
}
.pc .main-slide .about-container .factory .building img {
    width: 100%;
    height: 100%;
}
/* 설명 */
.pc .main-slide .about-container .factory .explain {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}
.pc .main-slide .about-container .factory .explain span {
    font-size: 0.8rem;
    line-height: 25px;
    word-break: keep-all;
}

/* 조직도 시작 */
/* 카테고리 부분 */
.pc .main-slide .about-container .organization .ss-title{
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}
.pc .main-slide .about-container .organization .ss-title span {
    font-size: 0.8rem;
    font-weight: 400;
    display: inline-block;
}
.pc .main-slide .about-container .organization .ss-title span:last-child {
    color: red;
}
/* 타이틀 */
.pc .main-slide .about-container .organization .main-title {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}
.pc .main-slide .about-container .organization .main-title h2 {
    font-size: 2rem;
}
/* 선 */
.pc .main-slide .about-container .organization .line {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 20px;
}
/* 아래 타이틀 */
.pc .main-slide .about-container .organization .s-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
/* 조직도 선택 버튼 */
.pc .main-slide .about-container .organization .catagory {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}
.pc .main-slide .about-container .organization .catagory ul {
    width: 30%;
    display: flex;
    box-sizing: border-box;
}
.pc .main-slide .about-container .organization .catagory ul li {
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    height: 100%;
    border: 1px solid #c9c9c9;
    background-color: #c9c9c9;
    padding: 10px;
    cursor: pointer;
}

.pc .main-slide .about-container .organization .catagory ul li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-weight: 700;
    pointer-events: none;
}

.pc .main-slide .about-container .organization .catagory ul li:last-child {
    background-color: red;
}
.pc .main-slide .about-container .organization {
    display: none;
}
.pc .main-slide .about-container .organization.active{
    display: block;
}
.pc .main-slide .about-container .organization {
    width: 100%;
    height: auto;
  
}
.pc .main-slide .about-container .organization .organization-image {
    width: 100%;
    height: auto;
}
.pc .main-slide .about-container .organization .organization-image .mo {
    display: none;
}
.pc .main-slide .about-container .organization .organization-image img {
    width: 100%;
    height: 100%;
}
/* 반응형 웹 */
@media screen and (max-width:1280px) {
    .pc {
        display: none;
    }
    .mobile{
        grid-template-rows: 10% 40% 40% 10%;
        grid-template-areas: 
        "mobile-nav"
        "mobile-slide"
        "mobile-side-box"
        "mobile-footer";
        width: 100%;
        height: 150vh;
        display: block;
    }
  
    .mobile .mobile-slide {
        grid-area: mobile-slide;
        width: 100%;
        height: 100%;
        max-height: 800px;
        min-height: 800px;
    }
    .mobile .mobile-slide .about-container {
        padding:5% 15% 5% 5%;
        width: 100%;
        height: 100%;
       overflow: hidden;
      
    }
    .mobile .mobile-slide .about-container .fac {
        display: block;
    }
    .mobile .mobile-slide .about-container .fac.active {
        display: none;
    }
    
    /* 카테고리 부분 */
    .mobile .mobile-slide .about-container .factory .ss-title{
        width: 100%;
        height: 20px;
        margin-bottom: 20px;
    }
    .mobile .mobile-slide .about-container .factory .ss-title span {
        font-size: 0.8rem;
        font-weight: 400;
        display: inline-block;
    }
    .mobile .mobile-slide .about-container .factory .ss-title span:last-child {
        color: red;
    }
    /* 타이틀 */
    .mobile .mobile-slide .about-container .factory .main-title {
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
    }
    .mobile .mobile-slide .about-container .factory .main-title h2 {
        font-size: 2rem;
    }
    /* 선 */
    .mobile .mobile-slide .about-container .factory .line {
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0,0.5);
        margin-bottom: 20px;
    }
    /* 아래 타이틀 */
    .mobile .mobile-slide .about-container .factory .s-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    /* 조직도 선택 버튼 */
    .mobile .mobile-slide .about-container .factory .catagory {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }
    .mobile .mobile-slide .about-container .factory .catagory ul {
        width: 30%;
        display: flex;
        box-sizing: border-box;
    }
    .mobile .mobile-slide .about-container .factory .catagory ul li {
        box-sizing: border-box;
        list-style: none;
        width: 100%;
        height: 100%;
        border: 1px solid #c9c9c9;
        background-color: #c9c9c9;
        padding: 10px;
        cursor: pointer;
    }
    .mobile .mobile-slide .about-container .factory .catagory ul li:first-child {
        background-color: red;
    }
    .mobile .mobile-slide .about-container .factory .catagory ul li a{
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center; 
        justify-content: center;
        font-weight: 700;
        pointer-events: none;
    }
    /* 그림 */
    .mobile .mobile-slide .about-container .factory .building {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 20px;
    }
    .mobile .mobile-slide .about-container .factory .building h5 {
        position: absolute;
        right: 20px;
        top:-20px;
    }
    .mobile .mobile-slide .about-container .factory .building img {
        width: 100%;
        height: 100%;
    }
    /* 설명 */
    .mobile .mobile-slide .about-container .factory .explain {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }
    .mobile .mobile-slide .about-container .factory .explain span {
        font-size: 0.8rem;
        line-height: 25px;
        word-break: keep-all;
    }
    
    /* 조직도 시작 */
    /* 카테고리 부분 */
    .mobile .mobile-slide .about-container .organization .ss-title{
        width: 100%;
        height: 20px;
        margin-bottom: 20px;
    }
    .mobile .mobile-slide .about-container .organization .ss-title span {
        font-size: 0.8rem;
        font-weight: 400;
        display: inline-block;
    }
    .mobile .mobile-slide .about-container .organization .ss-title span:last-child {
        color: red;
    }
    /* 타이틀 */
    .mobile .mobile-slide .about-container .organization .main-title {
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
    }
    .mobile .mobile-slide .about-container .organization .main-title h2 {
        font-size: 2rem;
    }
    /* 선 */
    .mobile .mobile-slide .about-container .organization .line {
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0,0.5);
        margin-bottom: 20px;
    }
    /* 아래 타이틀 */
    .mobile .mobile-slide .about-container .organization .s-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    /* 조직도 선택 버튼 */
    .mobile .mobile-slide .about-container .organization .catagory {
        width: 100%;
        height: 50px;
        margin-bottom: 80px;
    }
    .mobile .mobile-slide .about-container .organization .catagory ul {
        width: 30%;
        display: flex;
        box-sizing: border-box;
    }
    .mobile .mobile-slide .about-container .organization .catagory ul li {
        box-sizing: border-box;
        list-style: none;
        width: 100%;
        height: 100%;
        border: 1px solid #c9c9c9;
        background-color: #c9c9c9;
        padding: 10px;
        cursor: pointer;
    }
    
    .mobile .mobile-slide .about-container .organization .catagory ul li a{
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center; 
        justify-content: center;
        font-weight: 700;
        pointer-events: none;
    }
    
    .mobile .mobile-slide .about-container .organization .catagory ul li:last-child {
        background-color: red;
    }
    .mobile .mobile-slide .about-container .org {
        display: none
    }
    .mobile .mobile-slide .about-container .org.active{
        display: block;
    }
    .mobile .mobile-slide .about-container .organization {
        width: 100%;
        height: auto;
      
    }
    .mobile .mobile-slide .about-container .organization .organization-image {
        width: 100%;
        height: auto;
    }
    .mobile .mobile-slide .about-container .organization .organization-image img {
        width: 100%;
        height: 100%;
    }
    .mobile .mobile-slide .about-container .organization .organization-image img:last-child {
        display: none;
    } 
 

}

@media  screen and (max-width:540px) {
    .mobile .mobile-slide .about-container .factory .ss-title span {
        font-size: 0.5rem;
    }
    .mobile .mobile-slide .about-container .factory .main-title h2 {
        font-size: 1.7rem;
    }
    .mobile .mobile-slide .about-container .factory .s-title {
        font-size: 1.3rem;
    }
    .mobile .mobile-slide .about-container .factory .catagory ul li {
        padding: 5px;
    }
    .mobile .mobile-slide .about-container .factory .catagory ul li a{
        font-size: 0.5rem;
        min-width: 50px;
    }
    

    /* 조직도 부분 */
    .mobile .mobile-slide .about-container .org .ss-title span {
        font-size: 0.5rem;
    }
    .mobile .mobile-slide .about-container .org .main-title h2 {
        font-size: 1.7rem;
    }
    .mobile .mobile-slide .about-container .org .s-title {
        font-size: 1.3rem;
    }
    .mobile .mobile-slide .about-container .org .catagory ul li {
        padding: 5px;
    }
    .mobile .mobile-slide .about-container .org .catagory ul li a{
        font-size: 0.5rem;
        min-width: 50px;
    }
    .mobile .mobile-slide .about-container .organization .organization-image img:first-child {
        display: none;
    } 
    .mobile .mobile-slide .about-container .organization .organization-image img:last-child {
        display: block;
    } 
     /* 조직도 선택 버튼 */
     .mobile .mobile-slide .about-container .organization .catagory {
        width: 100%;
        height: 50px;
        margin-bottom: 30px;
    }
}